@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in { opacity: 0; animation: fade-in 500ms ease forwards; }
.fade-in-delay { opacity: 0; animation: fade-in 400ms ease forwards; animation-delay: 500ms; }


@keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.fade-out { animation: fade-in 500ms ease forwards; }
.fade-out-delay { animation: fade-in 400ms ease forwards; animation-delay: 500ms; }


@keyframes coveractive {
  0%   { transform: translateX(100vw)  }
  100% { transform: translateX(-50vw)  }
}

.coverActive { animation: coveractive 800ms cubic-bezier(.455, .03, .515, .955) forwards; }


@keyframes main-img-enter {
  0%   { transform: translateX(50vw); }
  100% { transform: translateX(0); }
}

.main-img-enter { animation: main-img-enter 600ms 500ms ease forwards; }








//
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;

}

.fade-leave-active {
  opacity: 0;
  transition-delay: 320ms;
}

.fade-enter { opacity: 1; }
